In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as skl
import os

In [5]:
os.getcwd()

'C:\\Users\\gunja\\Documents\\DS and ML\\ML\\StockMarketprediction'

In [6]:
import glob
import os

csv_path = 'C:\\Users\\gunja\\Documents\\DS and ML\\ML\\StockMarketprediction\\'
csv_files = glob.glob(os.path.join(csv_path, "*.csv"))
dfs = []

for csv in csv_files:
    df = pd.read_csv(csv)
    dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

In [8]:
combined_df.to_csv('2021to2023.csv',index=False)

In [9]:
combined_df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (₹ Cr)
0,01-JAN-2021,13996.10,14049.85,13991.35,14018.50,258090905,15873.75
1,04-JAN-2021,14104.35,14147.95,13953.75,14132.90,494999295,28705.09
2,05-JAN-2021,14075.15,14215.60,14048.15,14199.50,492475349,30872.87
3,06-JAN-2021,14240.95,14244.15,14039.90,14146.25,632323316,34615.55
4,07-JAN-2021,14253.75,14256.25,14123.10,14137.35,559173512,33446.47

In [10]:
combined_df.shape

(742, 7)

In [11]:
combined_df.size

5194

In [13]:
combined_df.describe()

,Open,High,Low,Close,Shares Traded,Turnover (₹ Cr)
count,742.000000,742.000000,742.000000,742.000000,7.420000e+02,742.000000
mean,17496.047507,17572.918935,17391.150337,17485.872574,3.240153e+08,25056.554919
std,1737.586945,1729.727602,1746.726167,1738.340876,1.393699e+08,7912.964712
min,13758.600000,13898.250000,13596.750000,13634.600000,3.731190e+07,2482.270000
25%,16252.637500,16327.712500,16159.062500,16246.000000,2.362690e+08,19817.165000
50%,17539.925000,17632.125000,17431.875000,17537.850000,2.773482e+08,23149.250000
75%,18423.450000,18499.750000,18330.912500,18417.787500,3.676482e+08,28621.157500
max,22080.500000,22124.150000,21969.800000,22097.450000,1.103645e+09,70755.080000